body{
  background:url('https://raw.githubusercontent.com/alenaOGURTSOVA/parallax/main/fon1.jpg');
 height:4600px;
} 
div#parallax-bg-1{
 position: fixed;
 width: 1200px;
 top: 0;
 left: 50%; 
 margin-left: -600px; 
 z-index: 1;
}

div#parallax-bg-2{
 position: fixed;
 width: 1200px;
 top: 0;
 left: 50%; 
 margin-left: -600px; 
 z-index: 2;
}

div#parallax-bg-3{
 position: fixed;
 width: 960px;
 top: 0;
 left: 50%; 
 margin-left: -470px; 
 z-index: 3;
}

div#parallax-bg-3 div{
 background-repeat:no-repeat;
 position:absolute;
 display:block;
 overflow:hidden;
}
div#bg-3-1{
 background:url('https://raw.githubusercontent.com/alenaOGURTSOVA/parallax/main/light.png');
 width:699px;
 height:610px;
 top:0px;
 right:70px;
}
div#bg-3-2{
 background:url('https://raw.githubusercontent.com/alenaOGURTSOVA/parallax/main/eren.png');
 width:800px;
 height:573px;
 top:-100px;
 right:100px;
}
div#bg-3-3{
 background:url('https://raw.githubusercontent.com/alenaOGURTSOVA/parallax/main/light.png');
 width:699px;
 height:610px;
 top:2800px;
 right:0px;
}
div#bg-3-4{
 background:url('https://raw.githubusercontent.com/alenaOGURTSOVA/parallax/main/koloss.png');
 width:920px;
 height:711px;
 top:1800px;
 right:140px;
}

div#bg-2-1{
 top:100px;
 left:-310px;
}
div#bg-2-2{
 top:270px;
 right:-70px;
}
div#bg-2-3{
 top:870px;
 left:-300px;
}
div#bg-2-4{
 top:1120px;
 right:-130px;
}
div#bg-2-5{
 top:1620px;
 left:140px;
}
div#bg-2-6{
 top:720px;
 left:340px;
}
div#parallax-bg-1 div{
 background-repeat:no-repeat;
 position:absolute;
 display:block;
 width:699px;
 height:610px;
 overflow:hidden;
}
div#bg-1-1{
 background:url('https://raw.githubusercontent.com/alenaOGURTSOVA/parallax/main/light.png');
 top:200px;
 right:450px;
}
div#bg-1-2{
 background:url('https://raw.githubusercontent.com/alenaOGURTSOVA/parallax/main/light.png');
 top:420px;
 left:0px;
}
div#bg-1-3{
 background:url('https://raw.githubusercontent.com/alenaOGURTSOVA/parallax/main/light.png');
 top:850px;
 right:-290px;
}
div#bg-1-4{
 background:url('https://raw.githubusercontent.com/alenaOGURTSOVA/parallax/main/light.png');
 top:800px;
 left:-200px;
}
div#bg-1-5{
 background:url('https://raw.githubusercontent.com/alenaOGURTSOVA/parallax/main/light.png');
 top:400px;
 left:0px;
}
